### Framework requirements
############################
colorama
python-magic
PrettyTable
requests
SQLAlchemy
psycopg2

### Module requirements
#########################

olefile
oletools
BeautifulSoup4
bottle
pylzma
pyelftools
bitstring
dnspython
git+https://github.com/smarnach/pyexiftool.git#egg=pyexiftool
pyasn1
pymisp
django
pypssl
pypdns
scandir
pype32
pbkdf2
git+https://github.com/erocarrera/pefile-2016.3.28.tar.gz#egg=pefile

### Integration requirements
##############################

simplejson
pyaml
