### Framework requirements
############################
colorama
python-magic
PrettyTable
requests
SQLAlchemy
psycopg2

### Module requirements
#########################

olefile
oletools
BeautifulSoup4
bottle
pylzma
pyelftools
bitstring
dnspython
pyasn1
pymisp
django
pypssl
pypdns
scandir
pype32
pbkdf2
pycrypto
https://github.com/erocarrera/pefile/files/192316/pefile-2016.3.28.tar.gz#egg=pefile
git+https://github.com/smarnach/pyexiftool.git#egg=pyexiftool

### Integration requirements
##############################

simplejson
pyaml
